@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

#background
{
    height: 725px;
    background-color:#d9c2a3;
}

div.content
{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    align-content: center;
}
body {
    background-color: #ffffff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
header {
    background-color:rgba(20,30,13, .7);
    text-align: left;
}
nav a:hover {
    background-color: black;
}
a:hover {
    background-color: #d9c2a3;
    color: #000000;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
.msg p
{
    padding-bottom: 15px;
}
nav a
#hero-msg h1, #hero-msg h4
.button-box
main section{
    text-align: center;
}

footer, section.msg{
    background-color: rgba(20,30,13, .7); 
}
footer{
    text-align: left;
    padding: 25px 50px;
    padding-top: 15px;
    
}
img#hero-img{
    width: 100%;
}
img.logo{
    width: 80px;
}
.home-title{
    font-size: 2em;
}
.book{
    font-size: 18px;
    padding: 15px 30px;
}
.join{
    font-size: 18px;
    padding: 15px 30px;
}
.msg {
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}
p{
    font-size: .8em;
}
h2
{
    margin: 0;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

#logo_link
{
    padding-top: 5px;
}

.social
{
    padding-top: 15px;
}
img
{
    padding-top: 15px;
}


.home-title
{
       margin-top: 10px;
}
.book, .join   
{
    margin-top: 50px;
}
.rivers-card, .camping-card, .rapids-card   
{
    margin: 200px 0;
}
footer
{
    margin-top: 200px;
}


.book, .join
{
    border-radius: 5px;
}
.card-img
{
    border: 10px;
}
main section img 
{
    box-sizing: border-box;
}